@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Rubik:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(226, 43%, 10%);
  font-family: Rubik;
}

section {
  max-width: 760px;
  margin: 100px auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2%;
}

.card1 {
  grid-column: 1;
  grid-row: 1 / span 2;
  background-color: hsl(235, 46%, 20%);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.profile {
  padding: 13% 10%;
  background-color: hsl(246, 80%, 60%);
  border-radius: 10px;
  padding-bottom: 50px;
}

.profile img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid hsl(236, 100%, 87%);
  margin-bottom: 20px;
}

.profile p {
  color: hsl(236, 100%, 87%);
  font-size: 10px;
  font-weight: 300;
}

.profile h2 {
  color: hsl(236, 100%, 87%);
  font-weight: 400;
}

.time {
  padding: 13% 13% 22% 13%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20%;
}

.monthly,
.daily,
.weekly {
  font-size: 12px;
  color: hsl(235, 45%, 61%);
  cursor: pointer;
}

.color {
  color: white;
}

.card2 {
  height: 100%;
  background-color: hsl(15, 100%, 70%);
  background-image: url('./images/icon-work.svg');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card3 {
  height: 100%;
  background-color: hsl(195, 74%, 62%);
  background-image: url('./images/icon-play.svg');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card4 {
  height: 100%;
  background-color: hsl(348, 100%, 68%);
  background-image: url('./images/icon-study.svg');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card5 {
  height: 100%;
  background-color: hsl(145, 58%, 55%);
  background-image: url('./images/icon-exercise.svg');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card6 {
  height: 100%;
  background-color: hsl(264, 64%, 52%);
  background-image: url('./images/icon-social.svg');
  background-size: 25%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.card7 {
  height: 100%;
  background-color: hsl(43, 84%, 65%);
  background-image: url('./images/icon-self-care.svg');
  background-size: 20%;
  background-repeat: no-repeat;
  background-position-x: 90%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.subcard {
  height: 80%;
  background-color: hsl(235, 46%, 20%);
  padding: 9% 13% 12% 13%;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.first {
  color: white;
  font-size: 35px;
  font-weight: 300;
  margin-bottom: 5px;
}

.second {
  color: hsl(236, 100%, 87%);
  font-size: 10px;
  font-weight: 300;
}

.head {
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
}

.head h3 {
  font-size: 15px;
  color: white;
  font-weight: 500;
}

.head img {
  width: 21px;
  height: 5px;
  align-self: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
  color: white;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 615px) {
  body {
    display: flex;
    flex-direction: column;
  }
  section {
    grid-template-columns: 1fr;
    width: 300px;
  }
  .attribution {
    margin-top: 50px;
  }
  .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 7% 10%;
  }

  .time {
    padding: 7% 13% 7% 13%;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20%;
  }
  .profile img {
    margin-bottom: 0;
    margin-right: 10px;
  }
  .profile p {
    color: hsl(236, 100%, 87%);
    font-size: 10px;
    font-weight: 300;
  }

  .profile h2 {
    font-weight: 400;
  }
  .time {
    display: flex;
    justify-content: space-between;
  }
  .card1 {
    grid-column: 1;
    grid-row: 1;
    width: 100%;
  }
  .subcard {
    padding: 9% 7% 12% 7%;
  }
  .first {
    margin-bottom: 0;
  }
  .head {
    margin-bottom: 0;
  }
  .value {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .card2,
  .card3,
  .card4,
  .card5,
  .card6,
  .card7 {
    background-size: 14%;
  }
}
